* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: sans-serif;
}

h1 {
    margin-left: 300px;
    margin-right: auto;
    color: deepskyblue;
    font-size: 30px;
}

img {
    height: 400px;
    width: 300px;
    padding: 10px;
}

.actor.informations {
    background-color: rgba(0, 255, 255, 0.1);
    width: 50%;
    padding: 1em;
}

.biography{
    height: 175px;
    overflow: scroll;
    border-top: 1px dashed black;
}

.actor{
    display:flex;
    justify-content: space-around;
    text-align:center;
}

.actor.informations{
    flex-direction: column;
}

.actor p{
    margin-top: -5em;
}

.filmography{
    width: auto;
    margin-top: 3em;
    border: 1px solid palegoldenrod;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;
}

.filmography img{
    height: 10em;
    width: 10em;
    padding: 6px;
    display: flex
    flex-wrap: wrap;
}

.filmography ol{
    display: flex;
}

.filmography li{
    margin-left: 4em;
}

.filmography h2{
    margin-left: auto;
    margin-right: auto;
}


