* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: lightgoldenrodyellow;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1000px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    color: deepskyblue;
    font-size: 30px;
}

.recent.news {
    background-color: rgba(0, 255, 255, 0.1);
}

.recent.news h2{
    font-style: italic;
    color: darkblue;
}

.hottest{
    display: flex;
    justify-content: space-around;
    text-align:center;
}

.hottest.movie {
    flex-direction: column;
    padding: 20px;
    margin-right: 50px;
    height: auto;
    width: 200px;
    background-color: rgba(255, 0, 0, 0.3);
}

.hottest.actor {
    flex-direction: column;
    padding: 20px;
    margin-left: 50px;
    height: auto;
    width: 200px;
    background-color: rgba(255, 0, 0, 0.3);
}

.hottest img{
    height: 10em;
    width: 10em;
    padding: 6px;
}